html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Barlow', sans-serif!important;
    background-color: #f7f7f7;
}
/* text-modification */
.textbold{
    font-weight: 700!important;
}
.textsemibold {
    font-weight: 600;
}

.textmedium {
    font-weight: 500!important;
}


/* Topbar */

.top-bar {
    background: #E5383B;
    line-height: 28px;
    color: #F5F3F4;
    font-size: 16px;
}

.top-bar-social {
    float: right;
    margin-right: 12px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 5px;
    border: 0px solid #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/*Carousel text  */

.carousel-item{
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel-txt-overlay{
    position: absolute;
    left: 16%;
   
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-find-blood{
    background-color: rgba(255, 255, 255, 0.80);
    position: absolute;
    right: 16%;
    z-index: 10;
    padding: 24px 36px;
    width: 400px;
    border-radius: 16px;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
  
}

/* Statistics */
.stats-icon{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    color: #9b9b9b;
}

/* About us */
.about-us{
    margin-top: 50px;
}
.about-img{
    /* background: #E5383B; */
    position: absolute;
    z-index: 10;
    height: 360px;
    width: 360px;
    margin-top: -16px;
    border-radius: 16px;
    /* background: no-repeat url("/img/aboutus2.jpg");
    background-size: cover; */
}
.about-txt{
    background-color: #e9e9e9;
    width: 880px;
    height: 360px;
    z-index: 10;
    padding: 40px;
    margin-left: auto;
    padding-left: 160px;
    border-radius: 16px
}


/* Donation process */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.process{
    background-color:#e9e9e9;
    padding: 24px;
    padding-top: 12px;
}

.btn-red {
    color: #0B090A;
    background-color: #E5383B!important;
    border-radius: 4px;
}
.btn-red:hover {
    /* color: #0B090A; */
    background-color: #A4161A!important;
}
.txt-black{
    color: #0B090A!important;
}

.card .overlay{
    display: inline-block;
    position: relative;
}

.card .overlay:after {
    /* padding-top: 56.25%; */
    /* 16:9 ratio */
    display: block;
    content: '';
}

.card iframe{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.volunteers{
    width: 100%;
    background-color: #e9e9e9;
}


/* quotes */

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #E5383B;
}


